
#breadcrumbWrapper {
  background-color: $bg-color-breadcrumb;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: $bg-color-breadcrumb;
    border-radius: 0;
    font-size: 14px;
    font-family: 'Roboto Condensed',Arial,sans-serif;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    content: ">";
    color: rgba(255,255,255,.7);
    opacity: .7;
}

.breadcrumb-item, .breadcrumb-item > a {
    color: rgba(255,255,255,.7);
}

//breadcrumb -> basketinfo
#basketWrapper {
  a {
    color: white;
  }
  padding: 0.75rem 0;
}