
$bg-color-headline: #1d60bd;
#headlineWrapper {
  background-color: $bg-color-headline;
  padding: 50px 0px;
  h3 {
    padding: 6px 0px 0px 0px;
    color: white;
    background: url('https://www.uni-jena.de/skin/_global/_images/blocks/meta_headline_white.svg') no-repeat left top;
  }
}