
// regarding forms

$form-color: #251e52;
.mycore-form-input, .form-control {
  border-color: $form-color;
  border-radius: 0;
}

.mycore-form-input.form-control-sm.mr-2 {
  margin-right: 0 !important;
}

.btn.btn-sm.btn-primary {
  background-color: $form-color;
  border-color: $form-color;
  border-radius: 0;
}
