/*  navigation settings
 *  - menus and links
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

// main nav
#navigationWrapper {
  background-color: $secondary;

  .nav-item {
    .nav-link {
      color: $primary;
    }

    &.active {
      .nav-link {

      }
    }
  }
}

li.nav-item.active > a {
  color: $primary;
}

.navbar-nav a {
  color: black;
  font-size: 18px;
}

.navbar-nav .nav-item {
  padding: 0 .5rem;
}

a.nav-link:hover {
  color: $primary;
  text-decoration: underline;
}

/* link to duplicates */
span.badge-alternative > a {
  color: white;
  text-decoration: none;
}

li.nav-item.active {
  background-color: white;
}

.nav-login:hover {
  color: #2285ff;
}

.nav-item .btn a {
  color: white;
}

#hauptnavigation i.fas.fa-lg.fa-bars {
  color: white;
}

#hauptnavigation .navbar-toggler {
  padding: 0;
  font-size: 25px;
}

#hauptnavigation .navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
}

.dropdown-menu a {
  color: #212529;
  font-size: 16px;
}

.hgn-user-orcid {
  position: absolute;
  left: -0.5rem;
  top: 0.25rem;
}

// breadcrumb
#breadcrumbWrapper {
  background-color: $secondary;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 0;
  list-style: none;
  border-radius: 0;
  font-size: 14px;
  background-color: $secondary;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: "/";
  color: $primary;
}

.breadcrumb-item, .breadcrumb-item > a {
  color: $primary;
}

// basketinfo
#basketWrapper {
  a {
    color: $primary;
    font-size: 14px;
  }

  padding: 0.75rem 0;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
