@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/droid-sans/droid-sans.woff2) format('woff2');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/droid-sans-mono/droid-sans-mono.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 300-800;
    src: url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-display: swap;
    font-weight: 300-800;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.woff2) format('woff2');
}
