$RECYCLE.BIN/
*.DS_Store
*.bak
*.cab
*.ear
*.iml
*.iws
*.jar
*.launch
*.lnk
*.msi
*.msm
*.msp
*.pydevproject
*.swp
*.tmp
*.war
*/node_modules/
*~
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.buildpath
.class
.classpath
.com.apple.timemachine.donotpresent
.cproject
.directory
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.nfs*
.project
.recommenders
.recommenders/
.settings/
.springBeans
.target
.tern-project
.texlipse
/bin/
/common/node_modules/
/out/
/target/
Desktop.ini
Icon
Network Trash Folder
Temporary Items
Thumbs.db
atlassian-ide-plugin.xml
bin/
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
ehthumbs.db
fabric.properties
hs_err_pid*
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/