// web page

$erfurtText: black;

// bs overwrite
// $input-btn-font-size-sm: 0.845rem;
$primary: #003b79;
$secondary: #ecf0f5;

$border-radius: 0px;

$body-bg: white;
$badge-font-weight: normal;

$theme-colors: (
        alternative: $primary
);
