// web page
$erfurtLink: #4645A4;
$erfurtVisited: #6B2906;
$erfurtGray: #978E90;
$erfurtOldBlue: #2a2a94;
$erfurtPetrol: #00856f;
$erfurtBlueHover: #2f6daa;
$erfurtYellow: #f4c000;

$erfurtRHover: #6969d4;
$erfurtRLink: #494999;
$erfurtRLinkAlt: #3838c2;
$erfurtRLinkHover: #f39c12;
$erfurtRInfoBack: #dce4ec;
$erfurtRButton: #9d9d9d;
$erfurtRButtonHover: #848484;
$erfurtRButtonBorder: #7e7e7e;
$erfurtText: black;

// bs overwrite
$input-btn-font-size-sm: 0.845rem;
$primary: $erfurtPetrol;
$secondary: $erfurtGray;

$border-radius: 0px;

$body-bg: white;
$badge-font-weight: normal;

$theme-colors: (
  alternative: $erfurtPetrol
);
