// web page
$erfurtLink: #4645A4 !default;
$erfurtVisited: #6B2906 !default;
$erfurtGray: #978E90 !default;
$erfurtOldBlue: #2a2a94 !default;
$erfurtPetrol: #00856f !default;
$erfurtBlueHover: #2f6daa !default;
$erfurtYellow: #f4c000 !default;

$erfurtRHover: #6969d4 !default;
$erfurtRLink: #494999 !default;
$erfurtRLinkAlt: #3838c2 !default;
$erfurtRLinkHover: #f39c12 !default;
$erfurtRInfoBack: #dce4ec !default;
$erfurtRButton: #9d9d9d !default;
$erfurtRButtonHover: #848484 !default;
$erfurtRButtonBorder: #7e7e7e !default;
$erfurtText: black !default;

// bs overwrite
$input-btn-font-size-sm: 0.845rem !default;
$primary: $erfurtPetrol !default;
$secondary: $erfurtGray !default;

$border-radius: 0px !default;

$body-bg: white !default;
$badge-font-weight: normal !default;
$badge-secondary-color: hsl(347, 4%, 90%) !default;
$alternative: $erfurtPetrol !default;
