/*  buttons settings
 *  - buttons, links like buttons and buttons buttons
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.btn-link > i {
  color: $primary;
}

.btn-link > i:hover {
  color: $primary;
}

.plus,
.minus,
.up,
.down {
  background-color: $erfurtRButton;
  border-color: white;

  &:hover {
    background-color: $erfurtRButtonHover;
    border-color: $erfurtRButtonBorder;
  }
}

.chosen-container,
.mycore-form-input {
  & + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// export menu buttons
.btn-outline-primary, .btn-secondary {
  color: white;
  background-color: $primary;
  background-image: none;
  border-color: white;

  &:hover {
    color: black;
    background-color: transparent;
    border-color: $primary;
  }
}

a.btn-secondary.info-button i {
  color: white;
  background-color: $primary;
  background-image: none;
  border-color: white;
}

a.btn-secondary.info-button:hover i {
  color: black;
  background-color: transparent;
  border-color: $primary;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
