$hssmBackground: #1558A5;
$hssmRButton: #9d9d9d;
$hssmRButtonBorder: #7e7e7e;
$hssmRButtonHover: #848484;
$hssmText: #1A3553;

// bs overwrite
$input-btn-font-size-sm: 0.845rem;
$primary: #522583;
$secondary: #1558A5;

$border-radius: 0px;

$body-bg: white;
$badge-font-weight: normal;

$theme-colors: (
        alternative: #01A58E
);
