
$bg-color-headline: #1d60bd;
#headlineWrapper {
  background-color: $color-dark-blue;
  padding: 25px 0px;
  h1 {
    padding: 6px 0px 0px 0px;
    color: white;
    background: url('/images/meta_headline_white.svg') no-repeat left top;
  }
}

#feedback, #servicedesk {
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: -24px;
  transform: rotate(-90deg);
  display: block;
  background: $color-dark-blue;
  padding: 8px 0px;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #002350;
  border-left: solid 0px #002350;
  border-right: solid 1px #002350;
  z-index: 999;
  width: 90px;
  text-align: center;
}

#feedback a, #servicedesk a {
  color: #fff;
}
