
#navigationWrapper {
  font-family: 'Roboto Condensed',Arial,sans-serif;;
  background-color: $primary;
  color: white;
  border-top: 1px solid #fff;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1px;
}

.navbar-nav a {
  color: white;
}

#mainnav li.active a {
  color: #024975;
}

#mainnav a.nav-link:hover {
  color: white;
}

.dropdown-menu a.dropdown-item {
  color: #212529;
}
