/*  general settings
 *  - common stuff with no specific sass file
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

body {
  min-height: 100vh;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

.row .col hr {
  border-top: 0;
}

h1, h2, h3, h4, h5 {
  color: $primary;
}

.nameIdentifier {
  @extend .badge, .badge-primary;

  a {
    color: white;
    text-transform: capitalize;
  }

  vertical-align: top;
  margin-right: 0.25rem;
}

.nameIdentifier:first-child {
  margin-left: 0.25rem;
}

.nameIdentifier:last-child {
  margin-right: 0rem;
}

.mycore-facet-exclude,
.mycore-facet-remove {
  color: $weimarRButton;
}

#watermark_testenvironment {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0.5;
  z-index: 200;
  color: #ff8300;;
  font-size: 32px;
  font-weight: bold;
}

#feedback, #servicedesk {
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: -24px;
  transform: rotate(-90deg);
  display: block;
  background: $weimarBlue;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #002350;
  border-left: solid 0px #002350;
  border-right: solid 1px #002350;
  z-index: 999;
  width: 90px;
  text-align: center;
}

#feedback a, #servicedesk a {
  color: #fff;
}

.mycore-facet-count {
  margin-right: 0.25rem;
}

.counter-length {
  &-1 {
    .mycore-facet-count {
      width: 25px;
    }

    .mycore-facet-value {
      width: 210px;
    }
  }

  &-2 {
    .mycore-facet-count {
      width: 35px;
    }

    .mycore-facet-value {
      width: 200px;
    }
  }

  &-3 {
    .mycore-facet-count {
      width: 45px;
    }

    .mycore-facet-value {
      width: 195px;
    }
  }

  &-4 {
    .mycore-facet-count {
      width: 55px;
    }

    .mycore-facet-value {
      width: 180px;
    }
  }

  &-5 {
    .mycore-facet-count {
      width: 65px;
    }

    .mycore-facet-value {
      width: 175px;
    }
  }

  &-6 {
    .mycore-facet-count {
      width: 80px;
    }

    .mycore-facet-value {
      width: 160px;
    }
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
