$body-bg: white;

$primary: #003359;

$bg-color-breadcrumb: #174488;

$color-light-blue: #E4F6FF;
$color-dark-blue: $primary;

$badge-font-weight: normal;

/* add new/overwrite custom colors */
$theme-colors: (
  alternative: #E4F6FF
);
