$body-bg: white;

$bg-color-breadcrumb: #174488;

$color-light-blue: #E4F6FF;
$color-dark-blue: #024975;

$badge-font-weight: normal;

/* add new/overwrite custom colors */
$theme-colors: (
  alternative: #E4F6FF
);