footer {
    background-color: #174488;
    color: #fff;
    width: 100%;
    height: 150px;
    z-index: 100;
    bottom: 0;
    margin-top: auto;
}

footer .container {
    margin-top: auto;
}

footer .ribbon {
  max-width: 1140px;
  background-image: url(/images/footer_background_default.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  height: 12px;
  margin-left: auto;
  margin-right: auto;
}

footer .info {
    color: rgba(255,255,255,.4);
    height: 138px;
    padding-bottom: 30px;
    line-height: 48px;
    font-family: 'Roboto Condensed',Arial,sans-serif;
}

.imprintlinewrapper a {
    color: white;
    font-size: 13px;
    letter-spacing: 0.02em;
    margin-right: 32px;
}

.imprintlinewrapper a:hover {
    color: white;
    text-decoration: underline !important;
}


@include media-breakpoint-up(sm) {
  footer .ribbon {
    max-width: 540px;
  }
}

@include media-breakpoint-up(md) {
  footer .ribbon {
    max-width: 720px;
  }
}

@include media-breakpoint-up(lg) {
  footer .ribbon {
    max-width: 960px;
  }
}

@include media-breakpoint-up(xl) {
  footer .ribbon {
    max-width: 1140px;
  }
}

