
$bg-color-headline: #1d60bd;
#headlineWrapper {
  background-color: $bg-color-headline;
  padding: 25px 0px;
  h3 {
    padding: 6px 0px 0px 0px;
    color: white;
    background: url('/images/meta_headline_white.svg') no-repeat left top;
    font-size: 27px;
    font-weight: 400;
  }
}