
// regarding forms

$form-color: #251e52;
.mycore-form-input, .form-control {
  border-color: $form-color;
  border: 1px solid #ced4da;
  border-radius: $border-radius;
}

.form-control:focus, .mycore-form-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #407fdf;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(23,68,136,.6);
}

.form-group>.mycore-form-input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.mycore-form-input.form-control-sm.mr-2 {
  margin-right: 0 !important;
}

.form-control-sm {
    height: calc(1.812rem + 2px);
}

.mycore-form-input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mycore-form-input + button:not(:last-child) {
    border-radius: $border-radius;
}

.minus, .up, .down {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.plus {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.minus {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.minus:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.minus:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.row .col hr {
    border-top: 0;
}

p {
  color: rgb(51, 57, 57);
}

a {
  font-family: 'Roboto Condensed',Arial,sans-serif;
  letter-spacing: 0.02em;
}

.nameIdentifier {
  @extend .badge, .badge-primary;
  a {
    color: white;
  }
  vertical-align: top;
  margin-right: 0.25rem;
  background-color: #1d60bd;
  border-radius: 0.2rem;
}

.nameIdentifier:first-child {
  margin-left: 0.25rem;
}

.nameIdentifier:last-child {
  margin-right: 0rem;
}

.badge-secondary {
  color: #333939;
  background-color: #e7e4db;
  border-radius: 0.2rem;
}
