.ubo-badge-oa {
  @extend .badge;

  &-closed {
    @extend .ubo-badge-oa;
    background-color: $openaccess-closed-color;
  }

  &-oa {
    @extend .ubo-badge-oa;
    background-color: $openaccess-oa-color;
  }

  &-green {
    @extend .ubo-badge-oa;
    background-color: $openaccess-green-color;

  }

  &-gold {
    @extend .ubo-badge-oa;
    background-color: $openaccess-gold-color;
  }

  &-platin {
    @extend .ubo-badge-oa;
    background-color: $openaccess-platin-color;
  }

  &-hybrid {
    @extend .ubo-badge-oa;
    background-color: $openaccess-hybrid-color;
  }

  &-bronze {
    @extend .ubo-badge-oa;
    background-color: $openaccess-bronze-color;
  }

  &-embargo {
    @extend .ubo-badge-oa;
    background-color: $openaccess-embargo-color;
  }
}

.ubo-statistic-oa {
  &-closed rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-closed-color;
  }

  &-oa rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-oa-color;
  }

  &-green rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-green-color;
  }

  &-gold rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-gold-color;
  }

  &-platin rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-platin-color;
  }

  &-hybrid rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-hybrid-color;
  }

  &-bronze rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-bronze-color;
  }

  &-embargo rect {
    @extend .ubo-statistic-oa;
    fill: $openaccess-embargo-color;
  }
}
